table {
    margin-left: 20px;
    margin-right: 20px;
    border: thin solid black;
    caption-side: bottom;
}

td, th {
    border: thin dotted gray;
    padding: 5px;
}

caption {
    font-style: italic;
    padding-top: 8px;
}
td.center {
    text-align: center;
}
td.right {
    text-align: right;
}
th {
    background-color: #cc6600;
}
.cellcolor {
    background-color: #fcba7a;
}
tr:nth-child(1n) {
    background-color: #fcba7a;
}
table table th {
    background-color: white;
}